/ETF_dfs/
/stock_dfs/
/test_dfs/
/figures/
/pandas/
/accounts/
/models/

/src/strategies/*
!src/strategies
!/src/strategies/strategy_template.py

my_account.py

*.csv
*.pyc
*.pickle
*.xlsx
*.png
*.txt

KEYS

Pipfile.lock

/.vscode/