[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
beautifulsoup4 = "*"
pandas-datareader = "*"
alpha-vantage = "*"
scikit-learn = "*"
matplotlib = "*"
ta = "*"
tensorflow = "*"
keras = "*"

[requires]
python_version = "3.7"
